@import "_nullstyle";
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
* {
	box-sizing: border-box;
}

.container {
	font-family: "Source Sans Pro", sans-serif;
}
//Верхняя часть
.header {
	max-width: 1146px;
	margin: 0px auto;
	padding: 56px 5%;
	display: flex;
	justify-content: space-between;
	&__logo {
		display: block;
	}

	&__user {
		display: flex;
		align-items: center;
		&_name {
			padding-right: 15px;
			color: white;
			font-size: 16px;
		}
	}
}

.img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

a {
	text-decoration: none;
}
.bg {
	background: url(../img/coverimage.jpg) right center, #010202;
	background-size: contain;
	background-repeat: no-repeat;
	min-height: 100vh;
}
//Средняя часть

.main {
	max-width: 1146px;
	width: 90%;
	margin: 0px auto;
	color: white;
	padding: 10% 0px;
	height: calc(100vh - 156px);
}

.info {
	font-size: 16px;
	line-height: 140%;
	margin: 18px 15px 9px 0px;
	opacity: 0.4;

	&__old {
		font-size: 14px;
		padding: 1px 5px;
		opacity: 0.5;
		border: 1px solid #ffffff;
		box-sizing: border-box;
		border-radius: 2px;
	}
}
.about {
	max-width: 460px;
	font-size: 21px;
	line-height: 140%;
	margin-bottom: 36px;
}
.btn {
	display: flex;
	justify-content: flex-start;
	font-size: 16px;
	line-height: 140%;
	a {
		text-decoration: none;
		color: white;
	}
	&__first {
		background: #ea6e20;
		border-radius: 6px;
		padding: 11px 26px;
		margin-right: 15px;
	}

	&__second {
		background: #2f2f2f;
		border-radius: 6px;
		padding: 11px 26px;
		.play {
			margin-right: 10px;
			padding-top: 6px;
		}
	}
}
@media (min-width: 1500px) {
	.bg {
		z-index: 2;
	}
	.bg-1 {
		background: linear-gradient(90deg, #000000 0%, #010202 50%, transparent 100%);
		z-index: 0;
	}
}
@media (max-width: 1500px) {
	.bg {
		background: url(../img/coverimage.jpg) center right, #010202;
		background-size: 55%;
		background-repeat: no-repeat;
	}
}

@media (max-width: 1100px) {
	.bg {
		background: url(../img/coverimage.jpg) center right, #010202;
		background-size: 45%;
		background-repeat: no-repeat;
	}
	.main {
		padding: 18% 0px;
		height: calc(100vh - 156px);
	}
}
@media (max-width: 865px) {
	.bg {
		background: url(../img/coverimage.jpg) center bottom, #010202;
		background-size: 55%;
		background-repeat: no-repeat;
	}
	.main {
		padding: 2% 18% 0 18%;
		height: calc(100vh - 156px);
	}
	.logo-film {
		max-width: 100%;
	}
	.about p {
		font-size: 16px;
	}
}
@media (max-width: 768px) {
	.bg {
		background: url(../img/coverimage.jpg) center bottom, #010202;
		background-size: 60%;
		background-repeat: no-repeat;
	}
	.main {
		padding: 2% auto 0 auto;
		height: calc(100vh - 156px);
	}
	.logo-film {
		max-width: 100%;
	}
	.about p {
		font-size: 16px;
	}
}
@media (max-width: 576px) {
	.bg {
		background: url(../img/coverimage.jpg) center bottom, #010202;
		background-size: 85%;
		background-repeat: no-repeat;
	}
	.main {
		padding: 1% 5px 0 15px;
		text-align: center;
		height: calc(100vh - 156px);
	}
	.logo-film {
		max-width: 100%;
	}
	.about p {
		font-size: 16px;
	}
	.btn {
		text-align: center;
		justify-content: center;
	}
	.a-text {
		display: none;
	}
	.play {
		text-align: center;
		vertical-align: middle;
		margin: 0px 0px 7px 7px;
	}
	.header__user_name {
		display: none;
	}
	.header {
		justify-content: space-between;
		align-items: center;
		padding: 15px;
	}
}
@media (max-width: 375px) {
	.bg {
		background: url(../img/coverimage.jpg) bottom no-repeat, #010202;
		background-size: 400px;
		padding-bottom: 450px;
	}
	.main {
		padding: 1% 5px 0 5px;
		text-align: center;
		height: auto;
	}
	.logo-film {
		max-width: 100%;
	}
	.about p {
		font-size: 16px;
	}
	.btn {
		text-align: center;
		justify-content: center;
	}
	.a-text {
		display: none;
	}
	.play {
		text-align: center;
		vertical-align: middle;
		margin: 0px 0px 7px 7px;
	}
	.header__user_name {
		display: none;
	}
	.header {
		justify-content: space-between;
		align-items: center;
		padding: 15px;
	}
}
//--------------------------------------------------------------------------------------------------------
#modal {
	display: none;
	width: 100%;
	max-width: 600px;
	padding: 0 0 30px 0;
	text-align: justify;
	border-radius: 33px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	background: rgb(15, 0, 6);
	background: linear-gradient(top, rgba(15, 0, 6, 1) 0%, rgba(70, 20, 20, 1) 35%, rgba(110, 0, 0, 1) 100%);
	color: white;
}

#modal .content-header {
	border-bottom: 1px solid #eee;
	padding: 20px;
}

#modal .content-scroll {
	max-height: calc(100vh - 200px);
	overflow: auto;
	padding: 40px 20px 0 20px;
	font-size: 14px;
	text-indent: 30px;
	line-height: 1.5;
}

#modal .btn {
	background-color: transparent;
	margin: 0 auto;
	color: white;
	font-size: 20px;
}
#modal .input {
	display: inline-block;
	margin: 30px 0 0 0;
	min-width: 280px;
	padding: 15px 15px 15px 20px;
	text-align: justify;
	border-radius: 20px;
}
